<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nadar Catering</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        crossorigin="anonymous">
</head>
<script src="script.js"></script>
<style>
    .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 80px;
            background-color: #333;
            color: black ;
           
        }

        .nav-links{
            margin-top: 70px;
            list-style: none;
            display: flex;
            gap: 20px;
        }

        .nav-links li a{
            color: black;
            text-decoration: none;
            padding: 8px 10px;
        }

        .menu-toggle{
            display: none;
            font-size: 24px;
            cursor: pointer;
        }

        @media screen and (max-width: 768px) {
            .nav-links{
                display: none;
                flex-direction: column;
                position: absolute;
                top: 60px;
                padding: 30px;
                right: 20px;
                align-items: center;
                justify-content: center;
                background-color: #333;
                width: 60px;
                /* text-align: center; */
            }

            .nav-links.show{
                display: flex;
            }

            .menu-toggle{
                display: block;
            }
            
        }
    </style>
</head>
</style>

<body>
    <nav>
        <nav class="items">
            <img src="idly.jpeg" alt="">
            <div class="logo" style="margin-top: 70px;">Nadar Catering</div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="menu-toggle" onclick="toggleMenu()">
            ....
        </div>
            <!-- <div class="logo">Nadar Catering</div>
            <img src="idly.jpeg" alt="">
            <a href="#1">Home</a>
            <a href="#2">Menu</a>
            <a href="#3">Special</a>
            <a href="#4">About us</a> -->
            <div class="btn-nav" onclick="location.href='contact.html'"><button class="btn-1"> Order Now!</button></div>
        </nav>
    </nav>

    <div class="banner" id="1">
        <center id="banner" style="background=url('chapati.jpeg')">
            <h1>Nadar Catering</h1>
            <p>A Bite of Tradition, <br> A Taste of Joy</p>
            <div class="btn-nav" style="padding-right: 150px;" onclick="location.href='contact.html'"><button class="btn-1"> Contact Us</button></div>
        </center>
    </div>

    <!-- Menu -->

    <center>
        <h2 id="2">Menu</h2>
    </center>
    <div class="content">
        <!-- idly -->
        <div class="title">
            <h1>Idly</h1>
            <p>King of South Indian Breakfast</p>
            <div class="card-cont">
                <div class="card">
                    <div class="front">
                        <img src="logo.jpeg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-header">
                            <img id="back-img" src="logo.jpeg" alt="">
                            <div class="back-footer">
                                <h1>Nadar Idly</h1>
                                <p>Ingrediants:
                                <ul>Idly rice</ul>
                                <ol>Orid Dhall</ol>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- sambar -->
        <div class="title">
            <h1>Sambar</h1>
            <p>The Soul of South Indian Cuisine </p>
            <div class="card-cont">
                <div class="card">
                    <div class="front">
                        <img src="sambar.jpeg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-header">
                            <img id="back-img" src="sambar.jpeg" alt="">
                            <div class="back-footer">
                                <h1>Nadar Sambar</h1>
                                <p>Ingrediants:
                                <ul>Toor Dhall</ul>
                                <ul>Fresh Vegs</ul>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Vadai -->
        <div class="title">
            <h1>Vadai</h1>
            <p>Smooth Vadaii..</p>
            <div class="card-cont">
                <div class="card">
                    <div class="front">
                        <img src="vada.jpeg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-header">
                            <img id="back-img" src="vada.jpeg" alt="">
                            <div class="back-footer">
                                <h1>Nadar Vadai</h1>
                                <p>Ingrediants:
                                <ul>Orid Dhall</ul>
                                <ul>Refind Oil</ul>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Kesari -->
        <div class="title">
            <h1>Kesari</h1>
            <p>Colourful Kesari</p>
            <div class="card-cont">
                <div class="card">
                    <div class="front">
                        <img src="kesari-2.jpeg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-header">
                            <img id="back-img" src="kesari-2.jpeg" alt="">
                            <div class="back-footer">
                                <h1>Nadar Kesari</h1>
                                <p>Ingrediants:
                                <ul>Fried Rava</ul>
                                <ul>Sugar + Nuts</ul>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Poori -->
        <div class="title">
            <h1>Poori</h1>
            <p>Fluffy of Happiness</p>
            <div class="card-cont">
                <div class="card">
                    <div class="front">
                        <img src="poori.jpeg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-header">
                            <img id="back-img" src="poori.jpeg" alt="">
                            <div class="back-footer">
                                <h1>Nadar Poori</h1>
                                <p>Ingrediants:
                                <ul>Wheat</ul>
                                <ul>Potato curry</ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pongal -->
        <div class="title">
            <h1>Pongal</h1>
            <p>The Taste of Festive Joy</p>
            <div class="card-cont">
                <div class="card">
                    <div class="front">
                        <img src="pongal.jpeg" alt="">
                    </div>
                    <div class="back">
                        <div class="back-header">
                            <img id="back-img" src="pongal.jpeg" alt="">
                            <div class="back-footer">
                                <h1>Nadar Pongal</h1>
                                <p>Ingrediants:
                                <ul>Cleaned Rice</ul>
                                <ul>Moong Dhall</ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- Chapati -->
            <div class="title">
                <h1>Chapati</h1>
                <p>North Indian Taste of Taj Mahal</p>
                <div class="card-cont">
                    <div class="card">
                        <div class="front">
                            <img src="chapati.jpeg" alt="">
                        </div>
                        <div class="back">
                            <div class="back-header">
                                <img id="back-img" src="chapati.jpeg" alt="">
                                <div class="back-footer">
                                    <h1>Nadar chapati</h1>
                                    <p>Ingrediants:
                                    <ul>Wheat Flour +</ul>
                                    <ul>Potato curry</ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- chutney-1 -->
            <div class="title">
                <h1> Coconut Chutney</h1>
                <p>The Perfect Dip for Every Bite!</p>
                <div class="card-cont">
                    <div class="card">
                        <div class="front">
                            <img src="chutney-1.jpeg" alt="">
                        </div>
                        <div class="back">
                            <div class="back-header">
                                <img id="back-img" src="chutney-1.jpeg" alt="">
                                <div class="back-footer">
                                    <h1>Coconut Chutney</h1>
                                    <p>Ingrediants:
                                    <ul>Fresh Coconut</ul>
                                    <ul>Spice of Green Chilly</ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- chutney-1 -->
            <div class="title">
                <h1> Kara Chutney</h1>
                <p>The Perfect Dip for Every Bite!</p>
                <div class="card-cont">
                    <div class="card">
                        <div class="front">
                            <img src="chutney-2.jpeg" alt="">
                        </div>
                        <div class="back">
                            <div class="back-header">
                                <img id="back-img" src="chutney-2.jpeg" alt="">
                                <div class="back-footer">
                                    <h1> Kara Chutney</h1>
                                    <p>Ingrediants:
                                    <ul>Fresh Vegs</ul>
                                    <ul>Spice of Red Chilly</ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    

    <!-- Special items -->
     <div class="spl">
        <h3>Additionally:</h3>
        <h1>Tea</h1>
        <h1>Banana Leaf</h1>
        <h1>Water Bottel</h1>
        <h1>Wastage Bag</h1>
     </div>


     <!-- contact -->
      <a href="contact.html" style="text-decoration: none;">
      .......................................................................................................................................
     <button class="btn-1" id="downbtn" style="margin-top: 40px; margin-bottom: 40px;" onclick="location.href='contact.html'">Contact Us</button>        ..................................................................................................................................
    </a>
     <!-- <testimonal -->
      <div class="test-body" id="4">
      <h2 style="padding-top: 30px;">Customer Testimonals</h2>
      <div class="test-cont">
        <div class="test">
            <p class="name">Michale John </p>
            <p class="review"> "The Food was absolutely Amazing1 Highly recomended for any Event"</p>
        </div>

        <div class="test">
            <p class="name">Kannan</p>
            <p class="review"> "Excellent service and delicious food. Our guests loved every dish!"</p>
        </div>

        <div class="test">
            <p class="name">Neha</p>
            <p class="review"> "Professional catering with outstanding flavours. Will book again!"</p>
        </div>
      </div>
    </div>


    <footer>
        <a href="/">
            <h1>Nadar Catering</h1>
        </a>

        <div class="socials">
            <!-- facebook -->
            <a href="facebook.com">
                <div class="social-box">
                    <i class="fa-brands fa-facebook-f"></i>
                </div>
            </a>
            <!-- twitter -->
            <a href="twitter.com">
                <div class="social-box">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </a>
            <!-- instagram -->
            <a href="instagram.com">
                <div class="social-box">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </a>


        </div>
    </footer>
</body>
</html>
